body{
	background-image: url(../imagenes/casa.jpg);
	background-repeat: no-repeat;
	background-size: cover;
    font-family: Arial;

}

h1{
background-color: #C38BDB;
text-align: center;
border-radius: 50px;
width: 70%;
margin-left: auto;
margin-right: auto;
font-size: 50px;
   animation-duration: 3s;
   animation-name: animacionUno;
}

@keyframes animacionUno {
 from {
   margin-left: 100%;
   width: 300%
 }

 to {
   margin-left: 15%;
   width: 70%;
 }
}

#formulario{
    height:650px;
    width:600px;
    border:2px solid black;
    padding: 15px;
    background-color: lightblue;
    margin-left: auto;
    margin-right: auto;
    margin-top: 9%;
    font-size: 20px;
    animation-duration: 3s;
   animation-name: animacionDos;
}

@keyframes animacionDos {
 from {
   margin-top: 100%;
   width: 300%
 }

 to {
   margin-top: 9%;
   width: 600px;
 }
}

#titulo{
	width: 215px;
    font-size:17px;
    margin-top:-27px;
    margin-left:7px;
    background:white;
    border:2px solid black;
    background-color: lightpink;
}
#salida{
    height:15px;
    width:150px;
    border:2px solid black;
    padding: 15px;
    text-align: center;
    background-color: lightpink;
    margin-top: 5px;
}

#titulo1{
    padding-top: 10px;
    padding: 10px;
}

.item1{grid-area: header;}
.item2{ grid-area: section;}

.grid-container{
    display: grid;
    grid-template-areas: 
    'header'
    'section';
}

@media screen and (max-width:2000px){
#formulario{
    width: 50%;
    }
}

@media screen and (max-width:700px){
#formulario{
    width: 70%;
    height: 90%;
    }
}




